<?xml version="1.0" encoding="UTF-8"?>
<module>
    <name>{$lang->okaycms__concordpay__title}</name>
    <settings>
        <variable>concordpay_merchant</variable>
        <name>{$lang->okaycms__concordpay__merchant}</name>
    </settings>
    <settings>
        <variable>concordpay_secretkey</variable>
        <name>{$lang->okaycms__concordpay__secretkey}</name>
    </settings>
</module>